<div class="trade">

    <header-block></header-block>

    <div class="main_header" id="section">
        <div class="container" layout="row" layout-align="center center">
            <div><h2>Trade Settings</h2>

            </div>
        </div>
    </div>

    <div class="main_section text">
        <div class="container">
            <div>
                <h1>Trade settings</h1>
                <p>
                    For the convenience of traders, our Solutions provides personal trade settings, a service which
                    allows each client to customise their trades. It's no secret that traders have different
                    preferences in the methodology of order execution – for some, the price is important (so that
                    there would be no slippage); for others, execution takes the top spot (so that there would be no
                    rejections). Some do not want to miss entering a new position under any circumstances while
                    others prefer not to enter, rather than enter with huge slippage. These and many other questions
                    may be solved thanks to our trade settings. Customers do not have to look for other brokers to
                    get what they want, and as a result, they will stay with you.
                </p>

                <h2>Trade settings allow you to:</h2>

                <ul>
                    <li>Record the size of slippage in the order comment section;</li>
                    <li>Enable/disable partial execution of limit orders;</li>
                    <li>Send limit orders as market orders to ensure implementation;</li>
                    <li>Cancel pending orders and the related profits and stops once activation levels enter the
                        gap;
                    </li>
                    <li>Execute market and stop orders as limit orders with limited slippage (stop-limits);</li>
                    <li>Cancel stop orders when gap is larger than a certain number of points;</li>
                    <li>Activate pending orders on the opposite side of the quotes, thus protecting from the spread
                        widening.
                    </li>
                </ul>

                <p>
                    To provide this service to clients, a broker must implement a page where customers can choose
                    the preferred settings. The service is integrated into the bridge and does not require further
                    development. The service is in high demand and will be a good addition to broker services.
                </p>
                <p>
                    Trade settings significantly expand broker’s trading options, but they also include certain
                    execution features, which may come as a surprise to customers. This is why the website page with
                    a description of the settings needs to explain everything in detail, so that customers
                    understand how it works and do not make mistakes.
                </p>
            </div>
        </div>
    </div>

    <footer-block></footer-block>


</div>