<div class="floating">

    <header-block></header-block>

    <div class="main_header" id="section">
        <div class="container" layout="row" layout-align="center center">
            <div><h2>Floating leverage</h2>

            </div>
        </div>
    </div>


    <div class="main_section text">
        <div class="container">
            <div>
                <p>
                    Floating leverage allows the broker to offer customers a more flexible solution on margin requirements, where the leverage size depends on the volume of open positions, thereby improving conditions for customers and reducing the risks of the company.
                </p>
                <p>
                    If all customers get a higher leverage, the volumes may become inadequately large, which significantly increases the margin load when hedging and raises the risks of the balance becoming negative. Therefore, brokers often prefer to provide a high leverage only for small deposits, and to gradually reduce it with the growth of deposits.
                </p>
                <p>
                    We offer a completely free floating leverage service, where the leverage depends not on the size of the deposit but on the volume of open positions. Broker only needs to adjust the levels and set the leverage size, with the leverage automatically decreasing when the customer uses deposits.
                </p>
                <p>
                    This is also a convenient option for customers since large deposits are rarely linked to large leverage, and small deposits can use higher leverage, thus there is no conflict between the broker and the client. Almost all of our partners successfully use this service.
                </p>
            </div>
        </div>
    </div>

    <footer-block></footer-block>


</div>