<div class="liquidity">

    <header-block></header-block>

    <div class="main_header" id="section">
        <div class="container" layout="row" layout-align="center center">
            <div><h2>Liquidity Solutions</h2>

            </div>
        </div>
    </div>

    <div class="main_section text">
        <div class="container">
            <div>
                <h1>Liquidity Solutions</h1>
                <p>
                    We can offer brokers several options of obtaining liquidity. Each of the options has its pros
                    and cons, and they all depend on the requirements and possibilities of a given broker.
                    High-quality liquidity is only half the success of the company. Any broker needs to not only
                    provide their clients with a high-quality stream of quotes but also to hedge their orders
                    without losses in speed and quality of execution, which is often a demanding task.
                </p>
                <p>
                    Our team has over 10 years’ worth of experience working with the liquidity providers. We have
                    overseen the integration of dozens of banks and brokers, and collected a huge statistics on the
                    quality and flow of execution. The performance of our aggregator is based on these statistics,
                    taking into account all the details and features of a particular provider. To date, there are
                    three basic options for dealing with liquidity:
                </p>
                <ul>
                    <li>Liquidity collected over the years, through carefully selecting the best providers and
                        adapting to their characteristics;
                    </li>
                    <li>Liquidity of any provider selected by a broker;</li>
                    <li>Aggregator rental and its connection to any number of liquidity providers.</li>
                </ul>
                <p>
                    Below, we are going to describe in detail the difference between each of these options.
                </p>
                <h2>Our liquidity</h2>
                <p>
                    The liquidity offered by us is ideal since this is a high-quality stream with narrow spreads and
                    well-balanced performance. Its collection is being overseen by our main partner, a European
                    regulated broker. This option includes a sufficient number of quality liquidity providers, and
                    its effectiveness is both time-tested as well as proven by multi-billion dollar turnovers.
                </p>
                <p>
                    A single liquidity provider has several major advantages:
                </p>
                <ul>
                    <li>No need to deposit funds to each provider and move them between providers in hopes of
                        adjusting imbalances;
                    </li>
                    <li>Margin netting requires a fraction of client funds for hedging;</li>
                    <li>It eliminates imbalances of open positions from different providers as well as inefficient
                        use of margin.
                    </li>
                </ul>
                <h2>A single provider</h2>
                <p>
                    This liquidity has the advantages of a single liquidity provider listed in the previous section,
                    but it also has a number of disadvantages:
                </p>

                <ul>
                    <li>Unreliability of the stream can result in the problems of the provider immediately becoming
                        the problems of the broker;
                    </li>
                    <li>It is often not a very dense and smooth stream;</li>
                    <li>Normally, it does not have narrow spreads;</li>
                    <li>The provider may widen the spreads and worsen execution without the possibility of
                        intervention by the broker.
                    </li>
                </ul>
                <h2>Several providers</h2>
                <p>
                    This options works in the opposite way – the flow can be tight and even, and the spreads narrow,
                    but there are problems dealing with multiple providers:
                </p>

                <ul>
                    <li>The need to deposit money to each provider;</li>
                    <li>The need to monitor the distribution of open positions and prevent imbalances;</li>
                    <li>The need to have more funds for the margin;</li>
                    <li>Periodic need to transfer funds between providers.</li>
                </ul>
                <p>
                    In addition to the option with an aggregated flow, we offer free products such as provider
                    management module and monitoring of imbalances. Nevertheless, we believe this option is more
                    difficult and time-consuming for the broker. Broker must consider everything carefully before
                    selecting their own aggregation. Typically, this option is suitable for large companies, while
                    the single provider option suits all brokers, both large companies and startups. This option
                    combines the advantages of all liquidity models.
                </p>
            </div>
        </div>
    </div>

    <footer-block></footer-block>


</div>