<div class="ecn">

    <header-block></header-block>

    <div class="main_header" id="section">
        <div class="container" layout="row" layout-align="center center">
            <div><h2>ECN</h2>

            </div>
        </div>
    </div>

    <div class="main_section text">
        <div class="container">
            <div>
                <p>
                    ECN is the main product of the company. Our ECN system is used by companies regulated by FCA, ASIC, EFSA and CySEC.
                </p>
                <p>
                    ECN is a high-tech multi-module, infinitely scalable system that is based on a high-speed
                    communication protocol and is resistant to high-demand architecture. The system was created by the
                    first-grade developers with more than 10 years of experience in creating technologies for the
                    financial markets.
                </p>
                <p>
                    Today, ECN is one of the fastest and most flexible solutions for online trading. We provide
                    brokers with the maximum flexibility in configuring the liquidity, trading tools, risk management
                    rules, order execution methods, etc. Additionally, we provide a high degree of protection from
                    typical problems such as non-market quotes, arbitration and much more.
                </p>

                <h1>Why ECN?</h1>
                <p>Flexible risk management in real time, with the ability to hedge customers, groups of customers, and instruments;</p>
                <p>The ability to work with liquidity providers, prime brokers, prime-of-prime brokers or with several providers, with automatic balancing of margin loads;</p>
                <p>Ultra high-speed processing of orders (less than 1 ms) with exceptional performance at peak loads;</p>
                <p>Full support of MetaTrader 4 and MetaTrader 5;</p>
                <p>Liquidity aggregator allows you to combine any number of liquidity providers into a single stream;</p>
                <p>The ability to transform the execution of volume-weighted average prices (VWAP) of the external stream;</p>
                <p>Additional features for customers, including personal settings for order execution or Market Depth application (Level II);</p>
                <p>A high degree of protection from toxic streams, arbitrage and non-market prices.</p>
            </div>
        </div>
    </div>


    <footer-block></footer-block>


</div>