<div class="about">

    <header-block></header-block>

    <div class="main_header" id="section">
        <div class="container" layout="row" layout-align="center center">
            <div><h2>About Us</h2>

            </div>
        </div>
    </div>


    <div class="main_section text">
        <div class="container">
            <div>
                <p>
                    Team Trystock Visate Solutions is engaged in the development of brokerage software since the advent
                    of the first bridges for MetaTrader and Utip. Today we work with a limited number of brokers, until
                    we decided to provide our products to all companies interested in brokerage. Today, our technologies
                    are used by large companies with tens of billions of revolutions in many countries of the world.
                </p>

            </div>
        </div>
    </div>

    <footer-block></footer-block>


</div>